# Optional: Add your free Groq API key (from https://console.groq.com/keys)
# or Gemini API Key (from https://aistudio.google.com/)
# Rename this file to .env or create a .env file:

GROQ_API_KEY=
GEMINI_API_KEY=
